<% unless current_user %>
  <header class="intro">
    <h1> We're better together.</h1>
    <button>
      <%= link_to('Sign In', new_user_session_path, :id => "sign_in_link")%>
    </button>
    <button>
      <%= link_to('Sign Up', new_user_registration_path, :id => "sign_up_link")%>
    </button>
  </header>
<% end %>

<% if current_user %>
  <%= image_tag current_user.avatar_url(:event) if current_user.avatar? %>
  <%= link_to "Edit User Info", edit_user_registration_path %>
  <%= link_to "Add Organization", new_organization_path %>
  <h3>My Organizations:</h3>
  <% current_user.organizations.each do |organization| %>
    <div><%= link_to organization.name, organization %></div>
      <ul>
      <% organization.events.each do |event| %>
          <li><%= link_to event.name, organization_event_path(organization, event) %></li>
      <% end %>
      </ul>
      <%= link_to "Add Event", new_organization_event_path(organization) %>
  <% end %>


<% else %>
  <div class="community-intro">
    <h2>Our Community</h2>
    <p> We have the most creative, most innovative nonprofits and social entreprenuers. Here's a glimpse: </p>
    <div class="organizations-intro row-fluid">
      <% Organization.all.each do | org | %>
        <div class="organization-intro span3"> <%= image_tag org.avatar_url(:event) %> </div>
      <% end %>
    </div>
  </div>
<% end %>


