<%= link_to "Back", :back %>
<h2><%= @event.name %></h2>
<p>Hosted by: <%= link_to "#{@organization.first.email}", organization_path(@organization) %> </p>
<p><%= @event.description %></p>

<% if current_organization %>
  <% if current_organization.id == @event.organization_id %>
    <%= link_to("Delete Event", event_path(@event), :method => :delete) %>
  <% end %>
<% end %>

<% if current_user %>
  <%= link_to("Attend Event", new_attendee_path(@event))%>
<% end %>

<% if @attendees %>
  <% @attendees.each do |attendee| %>
    <ul>
      <li> <%= attendee.email %> </li>
    </ul>
  <% end %>
<% end %>