
<%= link_to "Back", :back %>

<h3><%= @organization.name %></h3>
<% if current_organization.id == @organization.id %>
  <%= link_to 'Edit Profile', edit_organization_path(@organization) %><br/>
<% end %>

<p><%= @organization.bio %></p>

<ul>
  <li><%= @organization.email %></li>
</ul>
