<%= link_to "Back", :back %>

<%= @organization.name %>
<%= image_tag @organization.avatar_url(:event) if @organization.avatar? %>
<div class="events">
  <h3> Upcoming Events </h3>
  <ul>
    <% @organization.events.each do |event| %>
      <li><%= link_to event.name, organization_event_path(@organization, event) %>
      </li>
    <% end %>
  </ul>
</div>

<% if current_user.id == @organization.user_id %>
    <%= link_to("Edit Profile", edit_organization_path(@organization)) %>
    <%= link_to("Delete Organization", organization_path(@organization), :method => :delete, :confirm => "Are you sure you want to delete #{@organization.name}?")%>
<% end %>

